<div>
    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productIten of products">
                <td>
                  <img alt="" src={{productIten.urlImage}} height="50px" />
                </td>
                <td>{{productIten.name}}</td>
                <td>{{productIten.unitPrice | currency:"USD"}}</td>
                <td>{{productIten.unitsInStock}}</td>
            </tr>
        </tbody>
    </table>
</div>
